<h1>About</h1>

<p>This site was created to help convince you to visit me in Austin. It was a bitch to create, but not as much of a bitch as you if you don't come visit after checking out this site.</p>
