<div class="jumbotron">
	<h1>Austin is the shit, and it stink real good. <small>- Sungho Yoo</small></h1>
	</br>
	<p>
		<lead>My personal recommendations for what to do in Austin.</lead>
	</p>
</div>

