<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><center>
        Have a Foodgasm</center>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'layouts/featurette_food' %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
	  <div class="accordion-heading">
	    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><center>
	      Daytime Frolick</center>
	    </a>
	  </div>
	  <div id="collapseTwo" class="accordion-body collapse">
	    <div class="accordion-inner">
        <%= render 'layouts/featurette_daylife' %>
	    </div>
	  </div>
	</div>
	<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"><center>
        Wild for the Night</center>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'layouts/featurette_nightlife' %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"><center>
        Get Drankity Drank</center>
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner"><center>
        Anim pariatur cliche...</center>
      </div>
    </div>
  </div>
</div>